<nav class="kanister navbar navbar-expand-lg pt-4" color-on-scroll="50">
  <div class="container">

    <div class="navbar-translate">
      <a href="/">
        <span class="kanister-logo">{% include "svg/kanister-logo.svg" %} Kanister</span>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/kanisterio/kanister" target="new">
            <p>GitHub</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://docs.kanister.io/" target="new">
            <p>Documentation</p>
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
