<footer id="footer" class="footer footer-big contact-footer">
  <div class="container">
    <div class="content mb-5">

      <div class="row">
        <div class="col-md-3 column">
          <span class="kasten-logo">{% include "svg/kasten-logo.svg" %}</span>
          <h5 class="mt-4">Follow Us</h5>
          <ul class="social-buttons">
            <li>
              <a href="https://github.com/kanisterio/kanister" target="new">{% include "svg/social-github.svg" %}</a>
            </li>
            <li>
              <a href="https://twitter.com/kastenhq" target="new">{% include "svg/social-twitter.svg" %}</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/kasteninc/" target="new">{% include "svg/social-linkedIn.svg" %}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 column">
          <h5><a href="/">Kasten</a></h5>
          <ul class="links-vertical">
            <li>
              <a href="/product/" class="text-muted">
                Product
              </a>
            </li>
            <li>
              <a href="https://docs.kasten.io/" class="text-muted">
                Docs
              </a>
            </li>
            <li>
              <a href="/news/" class="text-muted">
                News
              </a>
            </li>
            <li>
              <a href="https://blog.kasten.io" class="text-muted">
                Blog
              </a>
            </li>
            <li>
              <a href="/careers/" class="text-muted">
                Careers
              </a>
            </li>
            <li>
              <a href="/aboutus/" class="text-muted">
                About Us
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 column">
          <h5>Use Cases</h5>
          <ul class="links-vertical">
            <li>
              <a href="/use-cases/backup-recovery/" class="text-muted">
                Backup & Recovery
              </a>
            </li>
            <li>
              <a href="/use-cases/app-migration/" class="text-muted">
                App Migration
              </a>
            </li>
            <li>
                <a href="/use-cases/disaster-recovery/" class="text-muted">
                  Disaster Recovery
                </a>
              </li>
          </ul>
          <h5 class="mt-4">Solutions</h5>
          <ul class="links-vertical">
            <li>
              <a href="/databases/" class="solution-databases text-muted">
                Databases
              </a>
            </li>
            <li>
              <a href="/data-platform/block-and-file/" class="block-file text-muted">
                Block and File
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 column">
          <h5><a href="/kanister/">Kanister</a></h5>
          <ul class="links-vertical">
            <li>
              <a href="/kanister/" class="kanister text-muted">
                What is it?
              </a>
            </li>
            <li>
              <a href="/kanister/index.html#why-use-kanister" class="text-muted">
                Why use it?
              </a>
            </li>
            <li>
              <a href="/kanister/index.html#getting-started" class="text-muted">
                Getting started
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 column">
          <h5>Locations</h5>
          <div class="address mb-4">
            <h6>California</h6>
            <div>289 S. San Antonio Road, #204</div>
            <div>Los Altos, CA, 94022</div>
          </div>
          <div class="address mb-4">
            <h6>Utah</h6>
            <div>13894 S Bangerter Pkwy, #200</div>
            <div>Draper, Utah 84020</div>
          </div>
          <div><a href="mailto:info@kasten.io">info@kasten.io</a></div>
        </div>
      </div>  <!-- row -->
    </div> <!-- content -->

    <div class="copyright">
      Copyright &copy; 2017<span class="to-date"></span> Kasten, Inc.
      &nbsp; &nbsp; <a href="/privacy.html">Privacy Policy.</a>
    </div>

  </div>
</footer>
