<div class="section section-sitemap container ml-auto mr-auto">
  <div class="row mb-4">

    <div class="col-sm">
      <div><strong>Company</strong></div>
      <div><a href="/careers/">Careers</a></div>
      <div><a href="/aboutus/">About Us</a></div>
      <div><a href="/news/">News</a></div>
      <div><a href="/news/index.html#press-kit">Media Kit</a></div>
    </div>
    <div class="col-sm">
      <div><a href="/product/"><strong>Product</strong></a></div>
      <div><a href="/product/index.html#platform-capabilities">Platform Capabilities</a></div>
      <div><a href="/product/index.html#use-cases">Use Cases</a></div>
    </div>
    <div class="col-sm">
      <div><a href="/kanister/"><strong>Kanister</strong></a></div>
      <div><a href="/kanister/index.html#what-is-kanister">What is Kanister</a></div>
      <div><a href="/kanister/index.html#why-use-kanister">Why use Kanister?</a></div>
      <div><a href="/kanister/index.html#getting-started">Getting Started</a></div>
    </div>
  </div>
  <div class="copyright">
    Copyright &copy; 2017<span class="to-date"></span> Kasten, Inc. &nbsp; &nbsp; Privacy
  </div>
</div>